...
<LogFile>
  <Source>SoftEther</Source>
  <PathAndMask>c:\Program Files\SoftEther VPN Server Developer Edition\security_log\VPN\*.log</PathAndMask>
  <Recursive>true</Recursive>
  <FailedLoginRegex>
    <![CDATA[
    IP address: <HOST>.*\n.*User authentication failed.*
        IP\s+address:\s+(?<ipaddress>.+?),.*\n.*User\s+authentication\s+failed.*\s+was\s+"?(?<username>.+?)".
    ]]>
  </FailedLoginRegex>
  <!-- For a regex with NotifyOnly, this will be a successful login and handled differently (IPBAN PRO only) -->
  <SuccessfulLoginRegex>
    <![CDATA[
        ipban\ssuccess\slogin,\sip\saddress:\s(?<ipaddress>.+?),\ssource:\s(?<source>.+?),\suser:\s?(?<username>[^\s,]+)?
    ]]>
  </SuccessfulLoginRegex>
  <PlatformRegex>Windows</PlatformRegex>
  <PingInterval>10000</PingInterval>
  <MaxFileSize>16777216</MaxFileSize>

</LogFile>
...
