...
<LogFile>
  <Source>SoftEther</Source>
  <PathAndMask>c:\Program Files\SoftEther VPN Server Developer Edition\security_log\VPN\*.log</PathAndMask>
  <Recursive>true</Recursive>
  <FailedLoginRegex>
    <![CDATA[
        ^(?<timestamp>.*?)(?:\sThe\sconnection).*IP\saddress:\s(?<ipaddress>(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])),.*\n.*User\sauthentication\sfailed.\sThe\suser\sname\sthat\shas\sbeen\sprovided\swas\s"(?<username>[^;]+?)"\.$
    ]]>
  </FailedLoginRegex>  
  <PlatformRegex>Windows</PlatformRegex>
  <PingInterval>10000</PingInterval>
  <MaxFileSize>16777216</MaxFileSize>

</LogFile>
...
