...
<LogFilesToParse>
    <LogFiles>

      <LogFile>

        <Source>Kerio Connect Security</Source>
        <PathAndMask>E:/Kerio/Store/logs/security.log</PathAndMask>
        <FailedLoginRegex>
          <![CDATA[
            ^\[(?<timestamp>.*?)\]\s.*:\sInvalid\spassword\sfor\suser\s(?<username>[^;]+?)\.\sAttempt\sfrom\sIP\saddress\s(?<ipaddress>(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\.$|
			^\[(?<timestamp>.*?)\]\sFailed\sSMTP\slogin\sfrom\s(?<ipaddress>(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s.*$
          ]]>
        </FailedLoginRegex>
        <SuccessfulLoginRegex>

        </SuccessfulLoginRegex>
        <PlatformRegex>Windows</PlatformRegex>
        <PingInterval>10000</PingInterval>
        <MaxFileSize>0</MaxFileSize>
		<FailedLoginRegexTimestampFormat>dd/M/yyyy HH:mm:ss</FailedLoginRegexTimestampFormat>

      </LogFile>

      <!-- <LogFile> -->

        <!-- <Source>Kerio Connect Failed SMTP login</Source> -->
        <!-- <PathAndMask>E:/Kerio/Store/logs/security.log</PathAndMask> -->
        <!-- <FailedLoginRegex> -->
          <!-- <![CDATA[ -->
            <!-- ^\[(?<timestamp>.*?)\]\sFailed\sSMTP\slogin\sfrom\s(?<ipaddress>(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s.*$ -->
          <!-- ]]> -->
        <!-- </FailedLoginRegex> -->
        <!-- <SuccessfulLoginRegex> -->

        <!-- </SuccessfulLoginRegex> -->
        <!-- <PlatformRegex>Windows</PlatformRegex> -->
        <!-- <PingInterval>10000</PingInterval> -->
        <!-- <MaxFileSize>0</MaxFileSize> -->
		<!-- <FailedLoginRegexTimestampFormat>dd/M/yyyy HH:mm:ss</FailedLoginRegexTimestampFormat> -->

      <!-- </LogFile> -->


    </LogFiles>
  </LogFilesToParse>
...
